__pycache__/
*.py[cod]
*$py.class
*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and models
data/
*.npy
*.index
*.pkl
.jsonl
*.csv

# Ignore specific large data sets that should not be committed
raw_data.csv
main.csv
train-raw.jsonl
train-main.jsonl
labeled-intents.jsonl
main_labeled_intents.jsonl
